@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.mene-gradient {
  background: #000000;
  background: -webkit-linear-gradient(to right bottom, #0f0f0f, #3a3a3a);
  background: linear-gradient(to right bottom, #0f0f0f, #3a3a3a);
}

.menu:hover {
  filter: invert(0.21) sepia(1) saturate(13.6) hue-rotate(208.8deg)
    brightness(1.2);
}

.line-gradient {
  background: #3688ff;
  background: linear-gradient(-90deg, #87399b 0%, #3688ff 100%);
  background: -webkit-linear-gradient(-90deg, #87399b 0%, #3688ff 100%);
}

@layer components {
  .section-head-text {
    @apply text-white font-black md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px];
  }
}
